

.calender {
    background-color: #0C0A20;
    padding: 1.5rem;
    border-radius: .75rem;
    width: 30%;
    position: absolute;
    top: 12vh;
    left: 20vw;

}

.calenderHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: #EFEFF0;

}

.calenderBody{
    color: #EFEFF0;
}

.monthyear {
    font-size: 2rem;
    font-weight: 550;
    margin-left: -1.45rem;
}

.navigation span {
    margin: 0px 1px;
    padding: .333rem;
    border-radius: .5rem;
    cursor: pointer;
    align-items: center;
}

.navigation span:hover {
    background-color: #373737;

}

ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    width: calc(100%/7);
    position: relative;
}

.weeks {
    font-weight: 550;
}

.dates {
    margin-bottom: 1rem;
}

.dates li {
    margin-top: 3rem;
    cursor: pointer;
    z-index: 1;
}

 .dates li::before{
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    top: 50%;
    left: 50%;
    border-radius: 1.2rem;
    transform: translate(-50%,-50%);
    z-index: -1;
    
}

.dates li:hover::before{
    background-color: #373737;

}
.inactive{
    color: #7F7F84;
}

.dates li.active::before{
    background-color: #40BDFF;
}
.active{
    color: black;
}

#yes::before{
    background-color: #40BDFF;
}

#yes{
    color: black;
}
