@import url(flex.css);


.cringe{
    background-color: red;
    
}

.img{
    width: 20vw;
    border: solid green;
}

.point{
    position:relative;
    top: -150px;
    left: 200px;
    z-index: -1;
}